.feature-section{
    background-image: url("../images/feature-2.png");
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.owl-carousel-technology .item {
    text-align: center;
    color: white;
    background-image: url('../images/icon-shape-6.png');
    background-color: white;
    background-size: cover;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.success-section .container{
    padding: 100px 0;
    background-image: url('../images/success-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-page-header{
    padding: 100px 0;
    background-image: url('../images/about-head.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.career-page-header{
    padding: 100px 0;
    background-image: url('../images/career-head.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.portfolio-page-header{
    padding: 100px 0;
    background-image: url('../images/portfolio-head.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}